*{
    margin : 0%;
    padding: 0%;
}

body
{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.dec1
{
	margin-top: 20px !important;
	margin-left: 400px !important;
	height: 500px !important;
	width: auto ;
	background-color: black !important;
	border-radius: 100px solid white !important;
	opacity: 0.7 !important;
}

.last{
	margin-top: 200px !important;
	background-color: black !important;
	border-radius: 100px solid white !important;
	opacity: 0.7 !important;
  color: #fff;
}

.glow {
    font-size: 40px;
    color: rgb(168, 250, 15);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  .ss{
    color: antiquewhite !important;
    border-radius: 20px !important;
    background: black !important;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }